body{

  margin:0;

  background:#0f0f0f;

  color:white;

  font-family:Arial, sans-serif;

}



/* NAVBAR */

nav{

  background:#1a1a1a;

  padding:15px 30px;

  display:flex;

  justify-content:space-between;

  align-items:center;

}


.nav-left{

  display:flex;

  gap:25px;

}


.nav-left a{

  color:white;

  text-decoration:none;

  font-size:18px;

  transition:0.2s;

}


.nav-left a:hover{

  color:#5865F2;

}



/* LOGIN */

.nav-right{

  display:flex;

  align-items:center;

  gap:15px;

}


#loginBtn{

  padding:10px 20px;

  border:none;

  border-radius:10px;

  background:#5865F2;

  color:white;

  cursor:pointer;

  font-size:16px;

}


#loginBtn:hover{

  opacity:0.9;

}


#user{

  display:flex;

  align-items:center;

  gap:10px;

}


.user-info{

  display:flex;

  align-items:center;

  gap:10px;

}


.user-info img{

  width:45px;

  height:45px;

  border-radius:50%;

}


.user-name{

  font-size:16px;

}



/* CONTEÚDO */

.container{

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:100px 20px;

}


h1{

  font-size:55px;

  margin-bottom:20px;

}


p{

  max-width:700px;

  font-size:22px;

  line-height:1.6;

}

.chat-container{

  padding:30px;

}


#messages{

  margin-top:20px;

  height:500px;

  overflow-y:auto;

  background:#1a1a1a;

  padding:20px;

  border-radius:15px;

}


.message{

  display:flex;

  gap:15px;

  margin-bottom:20px;

  align-items:flex-start;

}


.message img{

  width:50px;

  height:50px;

  border-radius:50%;

}


.chat-input{

  display:flex;

  gap:10px;

  margin-top:20px;

}


.chat-input input{

  flex:1;

  padding:15px;

  border:none;

  border-radius:10px;

  font-size:16px;

}